body {
    background-color: forestgreen;
}

h1 {
    text-align: center;
}

#breadrow {
    justify-content: center;
}

#bread {
    width: fit-content;
}

#enter-button-holder {
    display: flex;
    justify-content: center;
}

#order-row {
    display: flex;
    justify-content: center;
}

#order {
    display: flex;
    justify-content: space-between;
    border: 2px solid darkgreen;
    padding: 1em;
    margin: 1em;
}

.list-group-flush {
    width: 100%;
}

.list-group-item {
    background-color: forestgreen;
    border: none;
}

#total-cost {
    border-top: 2px solid black;
}
